<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>QuizServlet</servlet-name>
<servlet-class>test.QuizServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>QuizServlet</servlet-name>
<url-pattern>/quiz</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>EasyQuizServlet</servlet-name>
<servlet-class>test.EasyQuizServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EasyQuizServlet</servlet-name>
<url-pattern>/easy</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AsnServlet</servlet-name>
<servlet-class>test.AsnServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AsnServlet</servlet-name>
<url-pattern>/answer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EasySecServlet</servlet-name>
<servlet-class>test.EasySecServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EasySecServlet</servlet-name>
<url-pattern>/question2</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsSecServlet</servlet-name>
<servlet-class>test.AnsSecServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsSecServlet</servlet-name>
<url-pattern>/answer2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EasyThreeServlet</servlet-name>
<servlet-class>test.EasyThreeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EasyThreeServlet</servlet-name>
<url-pattern>/question3</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsThreeServlet</servlet-name>
<servlet-class>test.AnsThreeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsThreeServlet</servlet-name>
<url-pattern>/answer3</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EasyFourServlet</servlet-name>
<servlet-class>test.EasyFourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EasyFourServlet</servlet-name>
<url-pattern>/question4</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsFourServlet</servlet-name>
<servlet-class>test.AnsFourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsFourServlet</servlet-name>
<url-pattern>/answer4</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EasyFiveServlet</servlet-name>
<servlet-class>test.EasyFiveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EasyFiveServlet</servlet-name>
<url-pattern>/question5</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsFiveServlet</servlet-name>
<servlet-class>test.AnsFiveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsFiveServlet</servlet-name>
<url-pattern>/answer5</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AllDoneServlet</servlet-name>
<servlet-class>test.AllDoneServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AllDoneServlet</servlet-name>
<url-pattern>/done</url-pattern>
</servlet-mapping>


 
 
 <servlet>
<servlet-name>MediumOneServlet</servlet-name>
<servlet-class>test.MediumOneServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MediumOneServlet</servlet-name>
<url-pattern>/medium</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsMOneServlet</servlet-name>
<servlet-class>test.AnsMOneServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsMOneServlet</servlet-name>
<url-pattern>/answer11</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MediumSecServlet</servlet-name>
<servlet-class>test.MediumSecServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MediumSecServlet</servlet-name>
<url-pattern>/question21</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsMSecServlet</servlet-name>
<servlet-class>test.AnsMSecServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsMSecServlet</servlet-name>
<url-pattern>/answer21</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MediumThreeServlet</servlet-name>
<servlet-class>test.MediumThreeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MediumThreeServlet</servlet-name>
<url-pattern>/question31</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsMThreeServlet</servlet-name>
<servlet-class>test.AnsMThreeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsMThreeServlet</servlet-name>
<url-pattern>/answer31</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MediumFourServlet</servlet-name>
<servlet-class>test.MediumFourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MediumFourServlet</servlet-name>
<url-pattern>/question41</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsMFourServlet</servlet-name>
<servlet-class>test.AnsMFourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsMFourServlet</servlet-name>
<url-pattern>/answer41</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MediumFiveServlet</servlet-name>
<servlet-class>test.MediumFiveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MediumFiveServlet</servlet-name>
<url-pattern>/question51</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsMFiveServlet</servlet-name>
<servlet-class>test.AnsMFiveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsMFiveServlet</servlet-name>
<url-pattern>/answer51</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MediumDone</servlet-name>
<servlet-class>test.MediumDone</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MediumDone</servlet-name>
<url-pattern>/done1</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>HardOneServlet</servlet-name>
<servlet-class>test.HardOneServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HardOneServlet</servlet-name>
<url-pattern>/hard</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsHOneServlet</servlet-name>
<servlet-class>test.AnsHOneServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsHOneServlet</servlet-name>
<url-pattern>/answer111</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HardSecServlet</servlet-name>
<servlet-class>test.HardSecServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HardSecServlet</servlet-name>
<url-pattern>/question211</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsHSecServlet</servlet-name>
<servlet-class>test.AnsHSecServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsHSecServlet</servlet-name>
<url-pattern>/answer211</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HardThreeServlet</servlet-name>
<servlet-class>test.HardThreeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HardThreeServlet</servlet-name>
<url-pattern>/question311</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsHThreeServlet</servlet-name>
<servlet-class>test.AnsHThreeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsHThreeServlet</servlet-name>
<url-pattern>/answer311</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HardFourServlet</servlet-name>
<servlet-class>test.HardFourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HardFourServlet</servlet-name>
<url-pattern>/question411</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsHFourServlet</servlet-name>
<servlet-class>test.AnsHFourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsHFourServlet</servlet-name>
<url-pattern>/answer411</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HardFiveServlet</servlet-name>
<servlet-class>test.HardFiveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HardFiveServlet</servlet-name>
<url-pattern>/question511</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AnsHFiveServlet</servlet-name>
<servlet-class>test.AnsHFiveServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AnsHFiveServlet</servlet-name>
<url-pattern>/answer511</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>HardDone</servlet-name>
<servlet-class>test.HardDone</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HardDone</servlet-name>
<url-pattern>/done11</url-pattern>
</servlet-mapping>





 





<welcome-file-list>
<welcome-file>Input.html</welcome-file>
</welcome-file-list>
</web-app>